<script id="button-dropdown-link-template" type="text/x-handlebars-template" class="handlebars-partial">
  <li>
    <a href="#" {{#if data}}{{dataAttributes data}}{{/if}}>{{#if icon}}<i class="icon-{{icon.name}}"> </i> {{/if}}{{label}}</a>
  </li>
</script>